<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Añadir categoría</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/img/aniadir.png">
    <style>
        body {
            background-color: #34495E; /* Color de fondo */
        }

        .card {
            background-color: #ffffff; 
            border-radius: 10px;
        }
        
        h1 {
            color: #ffffff; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Añadir nueva Categoría</h1>
        <div class="card shadow-sm p-4">
            <form th:action="@{/category/add}" th:object="${category}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre de categoría:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter category name" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Añadir categoría</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="/category" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

